/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #0CEC87;
    --second-color:#00f9b6;
    --body-color: #0a0a0b;
    --container-color: #111213;

    /*========== Font and typography ==========*/    
    --body-font: 'Exo', sans-serif;
    --normal-font-size: 15px;

}

@media screen and (min-width: 968px) {
    :root {
        --normal-font-size: 16px;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



html {
    height: 100%;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    overflow: auto;
    
}

h1,
h2,
h3 {
    color: var(--first-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.shape {
    background-color: #374a6d;
    opacity: .5;
    filter: blur(112px);
    border-radius: 50%;
}

.shape__big {
    width: 400px;
    height: 400px;
}

.shape__small {
    width: 300px;
    height: 300px;
}

.shape__smaller {
    width: 180px;
    height: 180px;
    filter: blur(64px);
}

/*=============== HEADER ===============*/
.header,.footer {    
    text-align: center;
}

.header__data {
    background-color: var(--container-color);
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header__title, .footer__title {
    width: 100%;
    background-color: #262831;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 7px;
    color: var(--second-color);
    padding-top: 18px;
    padding-bottom: 18px;
}

/* TIME-DATE */
.time-date {
    padding: 20px;
}

#ctime {
    width: inherit;
    font-size: 55px;
    line-height: 76px;
    text-align: center;
    color: var(--second-color);
}

#cdate {
    width: inherit;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #7A7979;
    margin-top: -10px;
}

/* FORM */
.form {
    width: 550px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    outline: none;
    padding: 3px 5px;
    background-color: #262831;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    color: var(--second-color);
}

input[type=text] {
    padding: 4px 5px;
    text-align: center;
}

input::-webkit-calendar-picker-indicator {
    background-color: var(--second-color);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

input::-webkit-calendar-picker-indicator:hover {
    margin-top: -3px;
}

#msg {
    font-weight: 300;
}

/* BTN'S */
.header__btns button {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 10px;
    background-image: linear-gradient(to bottom, #262831, #202128, #1a1a1f, #131316, #0a0a0b);
    color: var(--second-color);
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 22px;
}

.header__btns button:hover {
    background-image: linear-gradient(to top, #262831, #202128, #1a1a1f, #131316, #0a0a0b);
}

.btnSubmit {
    margin-right: 20px;
}

.header .shape__big,
.header .shape__small {
    position: absolute;
}

.header .shape__big {
    left: -144px;
    top: -64px;
}

.header .shape__small {
    right: -160px;
    bottom: 48px;
}

/*=============== MAIN ===============*/


/*=============== TASK ===============*/
.task {
    margin-top: 10px;
}

.task__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.task__card {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: var(--container-color);
    overflow-x:hidden;
    overflow-y:auto;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    opacity: .5;
    word-break: break-all;    
    display: flex;
    z-index: 10;
    transition: .3s;
    cursor: pointer;
}

.card-scale{
    opacity: 1;
    position: relative;
    transform:scale(2);    
    z-index: 11;
}

.task__card:hover {
       opacity: 1;      
}

.task__card:hover .task__close{
    right: 5px;
}

.task__card .shape__smaller {
    position: absolute;
    top: -35px;
    left: -35px;
    z-index: 1;
}

.task__close {
    position: absolute;
    right: -100%;
    top: 5px;
    font-size: 20px;
    transition: .3s;
}

.task__close :hover {
    box-shadow: 0 0 10px 0px var(--second-color);    
}

.task__close i {
    color: var(--second-color);
    cursor: pointer;
    transition: .3s;
    border-radius: 50%;
}

.task__title {
    margin: auto;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--second-color);
    padding: 25px;
}

.task__assigned {
    position: absolute;
    width: 100%;
    left: 5px;
    bottom: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #7A7979;
}

.task__assigned h3,.task__error  {
    color: #7A7979;
    font-size: 16px;
    font-weight: 300;
    margin-left: 5px;
}

.task__error{
    display: none;
    color:red;
    position: absolute;
    bottom: 5px;
    right: 5px;
}


/* =============== BREAKPOINTS ===============*/

@media screen and (min-width: 320px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .form {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-content:space-between;
    }

    .form input{
        width: 100%;
        margin-bottom: 10px;
    }

    .header__data{
        margin-top: 10px;
    }

    .task__card {
        width: 100%;
    }

    .shape__small {
       display: none;
    }
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: 9.6px;
    background-color:#27282a;
    border-radius: 16px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:#3b3c40;
    border-radius: 16px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color:#4e5155;
  }

@media screen and (min-width: 576px) {    
    .form {            
        flex-direction: row;
    }

    .form input {
        margin-right: 10px;
    }

    .task__card {
        width: 48%;
    }
}

 @media screen and (min-width: 767px){
    .task__card {       
        width: 32%;
      }
} 

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
   
}

